.section-m{
  margin-top: 100px;
}
.container-h-w{
  height: 40vh;
}
footer{
  height: 50vh;
  width: 100%;
  background-color: black;
}
.bg-expart{
  background-color: rgba(210, 255, 240, 0.758);
}
.img-w{
  width: 50vh;
}