.section-m{
  margin-top: 100px;
}
.container-h-w{
  height: 40vh;
}
footer{
  height: 50vh;
  width: 100%;
  background-color: black;
}
.bg-expart{
  background-color: rgba(210, 255, 240, 0.758);
}
.img-w{
  width: 50vh;
}
.font-size-h{
 font-size: 2rem;
}
.font-size-p{
  font-size: 1rem;
}
.img-w{
  width: 100%;
}
.img-resize{
  width: auto;
}
@media screen and (max-width:576px){
  .font-size{
    font-size:calc(1vw + .5rem) ;
   }
   .font-size-p{
    font-size: calc(.5vw + .5rem) ;
  }
  .img-w{
    width: 90vw;
  }
  .img-resize{
      width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 600px) {
  .img-resize{
    width: 100%;
   
  }
}